<!-- ESTILOS-->


          /* Estilos para el botón */
          .top-right-button {
            position: fixed; /* Fija el botón en la pantalla */
            top: 20px; /* Distancia desde la parte superior */
            right: 20px; /* Distancia desde la derecha */
            padding: 10px 20px; /* Espaciado interno */
            background-color: #000000; /* Color de fondo */
            color: white; /* Color del texto */
            border: none; /* Sin borde */
            border-radius: 5px; /* Bordes redondeados */
            cursor: pointer; /* Cambia el cursor al pasar el mouse */
            font-size: 16px; /* Tamaño del texto */
        }
        .top-right-button:hover {
            background-color: #080808; /* Cambia el color al pasar el mouse */
        }





     body {
         font-family: Arial, sans-serif;
         margin: 0;
         padding: 0;
         background-color: #f9f9f9;
         color: #8062006b;
     }
     
     header {
         background-color: #806200;
         color: white;
         padding: 80px 0;
         text-align: center;
     }
     nav {
         background-color: #333;
         padding: 25px;
         text-align: center;
     }
     nav a {
         color: white;
         text-decoration: solid;
         margin: 0 15px;
         font-weight: bold;
         text-align: center;

     }

     div class {
        color: white;
        text-decoration: solid;
        margin: 0 15px;
        font-weight: bold;
        text-align: center;

    }


     nav a:hover {
         text-decoration: underline;
     }


    p {
        color: #806200;
        text-align: center;
        font-family: fantasy;
        font-size: x-large;
    }


    h5 {
        text-align: center;
        font-family: fantasy;
        font-size: x-large
    }

    h4 {
        text-align: center;
        font-family: serif;
        font-size: small
    }

    h7 {
        text-align: center;
        font-family: fantasy;
        font-size: large

    }


    h8 {
        color: rgb(58, 58, 58);
        text-align: center;
        padding: 20px 0;
        margin-top: 80px;
        font-weight: bolder;
        font-size: 25px;
    }


     main {
         padding: 20px;
         max-width: 800px;
         margin: 0 auto;
     }
     section {
         margin-bottom: 40px;
     }

     img {
         max-width: 100%;
         height: auto;
         border-radius: 15px;
         margin-top: 10px;
     }
     footer {
         background-color: #333;
         color: white;
         text-align: center;
         padding: 10px 0;
         margin-top: 40px;
     }
    
